html,body{
  width: 100%;
  height: 100%;
  font-family: Arial;
  min-width: 768px;
}
h1,h2,h3,h4,h5,h6{
	margin-top:0;
	margin-bottom: 0;
}
.row{
  margin-left:0;
  margin-right:0;
}
.col-md-8,.col-md-2{
  padding-left:0;
  padding-right:0;
}
.more{
	display: inline-block;
	font-size: 36px;
	line-height: 28px;
	cursor: pointer;
	background-color: #ffc550;
	color: #ed1e79;
	padding:16px 88px 16px 96px;
	margin-top: 50px;
}
.wrap{
	width:100%;
	margin:0 auto;
	position: relative;
}
.header{
	z-index:1;
	position: fixed;
	top:0;
	right:0;
	left:0;
	background-color: #000;
	text-align: center;
	padding-top: 29px;
	padding-bottom: 29px;
    padding-left: 50px;
    padding-right: 53px;
    height: 87px;
	.toggle-menu{
		display: block;
		height:33px;
		background:url("/app/images/toggle-menu.png") no-repeat left center;
	}
	.top-menu{
		overflow: visible;
		margin-bottom:0;
		li{
			padding-left: 0;
			padding-right:0;
			font-size: 29px;
			line-height: 29px;
			cursor: pointer;
			display: inline-block;
			color: #ddab45;
			position: relative;
			.triangle{
				display: none;
				position: absolute;
				bottom:-74%;
				left:40%;
				width:22px;
				height: 22px;
				background:url("/app/images/triangle.png") no-repeat center center;
				background-size: contain;
			}
			&:hover{
				color: #d4145a;
				.triangle{
					display: block;
				}
			}
		}
	}
	.logo{
      margin-top:-18px;
      display: block;
      height:66px;
      background:url("/app/images/logo.png") no-repeat right center;
      background-size: contain;
	}
}
.main-page{
	width: 100%;
	position: relative;
	background:url("/app/images/main.png") no-repeat center center fixed;
	background-size: cover;
	height: 1078px;
	text-align: center;
    padding-top: 22%;
	.name{
      color: #ed1e79;
      width: 77%;
      height: 40%;
      background:url("/app/images/samruh-header.png") no-repeat center center;
      background-size: contain;
      margin: 0 auto;
	}
	.what-is{
		font-size: 96px;
		color: #fff;
		display: inline-block;
		background-color: #000;
		line-height: 90px;
		padding: 7px 7px 13px 7px;
		margin-bottom: 29px;
	}
	.arrow{
		margin: 0 auto;
		width: 107px;
		height: 64px;
		margin:0 auto;
		background: url("/app/images/arrow.png") no-repeat center center;
	}
}
.videos{
	width:100%;
	overflow: hidden;
	position: relative;
	background-color: #e4e2dc;
	.video{
		position: relative;	
		.info{
			position: absolute;
			bottom: 0;
			left:0;
			right:0;
			text-align: center;
		}
		.video-name{
			bottom:0;
			color: #fff;
			font-size:62px ;			
		}
		.year{
			font-size:36px;
			color: #e31e74; 
		}			
	}
    .row{
      height: 317px;
    }
	.row:first-child{
		padding-left:0;
		padding-right:0;
		margin-bottom:8px;
        height: 756px;
	}
	.world-book{
        height: 100%;
		background:url("/app/images/video-1.png") no-repeat center center;
		background-size: contain;
	}
	.tarix{
        height: 100%;
		background:url("/app/images/video-2.png")no-repeat center center;
		background-size: contain;
	}
	.kit-app{
      height: 100%;
		background:url("/app/images/video-3.png")no-repeat center center;
		background-size: contain;
	}
	.camel{
        height: 100%;
		background:url("/app/images/video-4.png")no-repeat center center;
		background-size: contain;
	}
	.reel{
        height: 100%;
		background:url("/app/images/video-5.png")no-repeat center center;
		background-size: contain;
	}
	.adams{
        height: 100%;
		background:url("/app/images/video-6.png")no-repeat center center;
		background-size: contain;
	}
}
.black-white{
	width:100%;	
	margin-top: -1px;
	overflow: hidden;
	text-align: center;
	.white{
		background-color: #fff;
		height:1080px;	
		padding-top: 208px;
		.black-logo{
			margin: 0 auto;
			width: 244px;
			height: 254px;
			background: url("/app/images/black-logo.png") no-repeat center center;
		}
		h1{
			font-size: 136px;	
			line-height: 100px;
			margin-top: 28px;
			margin-bottom: 23px;
		}
		h2{
			font-size: 24px;
			margin-bottom: 23px;
		}
		p{
			font-size:28px;
		}
		&.contacts{
			.sphere{
				margin-top: 207px;
				width: 499px;
				height: 449px;
				background:url("/app/images/sphere.png") no-repeat center center;
				margin: 0 auto;
				margin-bottom: 45px;
			}
			p{
				font-size:53px;
				font-family: Monotype;
				font-style: italic;
			}
		}		
	}
	.black{
		background-color: #000;
		height:1080px;
		padding-top: 90px;
		text-align: left;
		padding-left: 0;
		padding-right:0;
		h3{
			color: #ed1e79;
			background-color: #1a1a1a ;
			font-size: 27px;
			padding-top: 17px;
			padding-bottom: 21px;
			padding-left: 49px;
		}
		.row{
			padding-right:80px ;
			padding-left: 90px;
		}
		.col-md-3{	
			height:140px;		
			&.first{
				background:url("/app/images/first.png")no-repeat center center;
				background-size: contain;
			}
			&.sony{
				background:url("/app/images/sony.png")no-repeat center center;
				background-size: contain;
			}
			&.camel{
				background:url("/app/images/camel.png")no-repeat center center;
				background-size: contain;
			}
			&.adams{
				background:url("/app/images/adams.png")no-repeat center center;
				background-size: contain;
			}
		}
	}	
}
.team{
	width: 100%;
	margin-top: 3px;
	.row{
		margin-left:0;
		margin-right:0;
	}
	.col-md-2{
		height: 1080px;
		background:url("/app/images/member.png") no-repeat top center;
		background-color:#323232;
		margin-right: 8px;
		margin-left:0;
		width: 372px;
		&.last{
			margin-right:0;
		}
	}
}
.school{
	height: 1080px;
	background:url("/app/images/about.png") no-repeat top center fixed;
	background-color: #cdc9c3;
	padding-top: 387px;
	text-align: center;
	.school-logo{
		width: 332px;
		height: 330px;
		background:url("/app/images/school-logo.png") no-repeat center center;
		margin:0 auto;
		margin-bottom: 57px;
	}
	p{
		font-size: 30px;
	}
}

